.bg {
    background-image: url("../../public/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.sunny {
    background-image: url("../../public/sunny.jpg");
}

.rainy {
    background-image: url("../../public/rainy.jpg");
}


.cloudy {
    background-image: url("../../public/cloudy.jpg");
}

.snowy {
    background-image: url("../../public/snowy.jpg");
}